# Logs
logs
*.log
# Python cache
__pycache__
*.pyc

# Other
*.uuid
*.conf
*.db
*.db-journal
*.log
*.log.*
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.json

.cloud
.storage/*
!.storage/lovelace*
!.storage/input_boolean
deps
entity_registry.yaml
custom_components/git
known_devices.yaml
secrets.yaml
tts
