{%- macro easterFriday(yearOffset) -%}
      {%- set year = now().year + yearOffset %}
      {%- set special_years = ['1954', '1981', '2049', '2076'] %}
      {%- set special_year_sub = 7 %}
      {%- set a = year % 19 %}
      {%- set b = year % 4 %}
      {%- set c = year % 7 %}
      {%- set d = (19 * a + 24) % 30 %}
      {%- set e = ((2 * b) + (4 * c) + (6 * d) + 5) % 7 %}
      {%- set day = (22 + d + e) - special_year_sub if year in special_years else 22 + d + e %}
      {%- set month = 4 if day > 31 else 3 %}
      {%- set day = day - 31 if day > 31 else day -%}
{{ as_timestamp(today_at().replace(year=year, month=month, day=day) + timedelta(days=-2)) | timestamp_custom('%Y-%m-%d') }}
{% endmacro %}

{%- macro easterFridayP1(yearOffset) -%}
      {%- set year = now().year + yearOffset %}
      {%- set special_years = ['1954', '1981', '2049', '2076'] %}
      {%- set special_year_sub = 7 %}
      {%- set a = year % 19 %}
      {%- set b = year % 4 %}
      {%- set c = year % 7 %}
      {%- set d = (19 * a + 24) % 30 %}
      {%- set e = ((2 * b) + (4 * c) + (6 * d) + 5) % 7 %}
      {%- set day = (22 + d + e) - special_year_sub if year in special_years else 22 + d + e %}
      {%- set month = 4 if day > 31 else 3 %}
      {%- set day = day - 31 if day > 31 else day -%}
{{ as_timestamp(today_at().replace(year=year, month=month, day=day) + timedelta(days=-1)) | timestamp_custom('%Y-%m-%d') }}
{% endmacro %}

{%- macro easterMonday(yearOffset) -%}
      {%- set year = now().year + yearOffset %}
      {%- set special_years = ['1954', '1981', '2049', '2076'] %}
      {%- set special_year_sub = 7 %}
      {%- set a = year % 19 %}
      {%- set b = year % 4 %}
      {%- set c = year % 7 %}
      {%- set d = (19 * a + 24) % 30 %}
      {%- set e = ((2 * b) + (4 * c) + (6 * d) + 5) % 7 %}
      {%- set day = (22 + d + e) - special_year_sub if year in special_years else 22 + d + e %}
      {%- set month = 4 if day > 31 else 3 %}
      {%- set day = day - 31 if day > 31 else day -%}
{{ as_timestamp(today_at().replace(year=year, month=month, day=day) + timedelta(days=1)) | timestamp_custom('%Y-%m-%d') }}
{% endmacro %}

{%- macro easterMondayP1(yearOffset) -%}
      {%- set year = now().year + yearOffset %}
      {%- set special_years = ['1954', '1981', '2049', '2076'] %}
      {%- set special_year_sub = 7 %}
      {%- set a = year % 19 %}
      {%- set b = year % 4 %}
      {%- set c = year % 7 %}
      {%- set d = (19 * a + 24) % 30 %}
      {%- set e = ((2 * b) + (4 * c) + (6 * d) + 5) % 7 %}
      {%- set day = (22 + d + e) - special_year_sub if year in special_years else 22 + d + e %}
      {%- set month = 4 if day > 31 else 3 %}
      {%- set day = day - 31 if day > 31 else day -%}
{{ as_timestamp(today_at().replace(year=year, month=month, day=day) + timedelta(days=2)) | timestamp_custom('%Y-%m-%d') }}
{% endmacro %}
